.spinner {
  font-size: 2rem;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 1rem;
}

@keyframes spin {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }