.login-modal {
  background-color: #ffffff;
  padding: 3rem;
  position: fixed;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  z-index: 101;
  width: 40rem;
  max-width: 90vw;
}

.login-modal h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-container {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
