.container {
  position: absolute;
  right: 0;
  bottom: -15px;
  transform: translateY(100%);
  width: 150px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  z-index: 10;
}

.container ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.container li {
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
}

.container li:hover {
    background-color: rgb(230, 230, 230);
    width: 100%;
}
