.grid-item {
  width: 100%;
  background-color: white;
  position: relative;
}

.item-img {
  width: 100%;
}

.item-img img {
  width: 100%;
  display: block;
}

.item-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  opacity: 0;
  transition: 200ms;
  padding: 2rem;
  cursor: zoom-in;
}

.grid-item:hover > .item-text {
  opacity: 1;
  transition: 200ms;
}

.item-text h3 {
  font-size: 2.2rem;
  margin: 0;
  color: white;
}

.item-text span {
  font-size: 1.4rem;
  color: white;
}
